---
layout: default
---
<div class="row-fluid animated fadeInDown">
    <div class="span10 offset1">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img data-src="holder.js/500x400" class="pull-left">

                    <div class="slide">
                        <h1>pyLoad
                            <small>Download Manager</small>
                        </h1>
                        <p>Fast, lightweight and full featured download manager</p>
                        <br>
                        <a href="#" class="btn btn-large btn-success">Get started today</a>
                    </div>
                </div>
                <div class="item">
                    <div class="slide animated fadeInUpBig pull-left">
                        <h1>pyLoad
                            <small>Download Manager</small>
                        </h1>
                        <p>Fast, lightweight and full featured download manager</p>
                        <a href="#" class="btn btn-large btn-success">Get started today</a>
                    </div>
                    <img data-src="holder.js/500x400" class="animated fadeInDownBig">
                </div>
            <div class="item">
                Additional content
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
</div>

{{ content }}

