@import "base.less";


/*
    Header
*/
// Same as bootstraps
@header-height: 40px;

.header { //  background-color: @greyDark;
  background: url("../../img/default/bgpatterndark.png") repeat;
}

.navbar-inner {
  height: @header-height;
}

.header:before {
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
  .default-shadow;
}

.header a.title {
  color: white;
  font-family: SansationRegular, sans-serif;
  font-size: @header-height / 1.5;
  line-height: @header-height / 1.5;
}

.brand {
  max-height: @header-height / 2;
}

.header .logo {
  float: left;
  margin-right: 10px;
  width: 85px;
  height: 87px;
  background: url("../../img/default/logo.png") no-repeat;
  background-size: 85px 87px;
}

/*
    Footer
*/
footer { //  background-color: @greyDark;
  background: url("../../img/default/bgpatterndark.png") repeat;
  color: @grey;
  height: @footer-height;
  margin-top: -@footer-height;
  position: relative;
  width: 100%;
  line-height: 16px;
  z-index: 10;
}

footer .logo {
  background: url(../../img/default/logo_grey.png) no-repeat;
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 12px;
  margin-right: 12px;
}

footer div.center {
  padding-top: 8px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer:before {
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  box-shadow: 0 0 5px black;
  z-index: -1;
}

footer .block {
  font-size: 12px;
  float: left;
  margin: 0;
  width: 150px;
  padding-top: 6px;
  padding-right: 30px;
}

footer .copyright {
  text-align: center;
  width: auto;
  padding-top: 22px;
}

footer h2 {
  background: url("../../img/default/double-line.gif") repeat-x scroll center bottom transparent !important;
  color: #FFFFFF;
  font-family: SansationLight, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  padding-bottom: 6px;
}