<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 offset2">
                <div class="copyright">
                    © 2008-2013<br>
                    <a href="http://pyload.org/" target="_blank">The pyLoad Team</a><br>
                </div>
            </div>
            <div class="span2">
                <h2 class="block-title">Powered by</h2>
                <hr>
                Bootstrap<br>
                Backbone <br>
                Python<br>
            </div>
            <div class="span2">
                <h2 class="block-title">Community</h2>
                <hr>
                Docs<br>
                Forum<br>
                Webchat Chat<br>
            </div>

            <div class="span2">
                <h2 class="block-title">Development</h2>
                <hr>
                GitHub <br>
                Join Devs<br>
                Dev Chat<br>
            </div>
        </div>
    </div>
</footer>
