<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="brand">
                <div class="logo"></div>
                <a class="title" href="/">pyLoad</a>
            </div>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if page.title == "Downloads" %} class="active" {% endif %}><a href="/downloads">Download</a></li>
                    <li {% if page.title == "News" %} class="active" {% endif %}><a href="/news">News</a></li>
                    <li {% if page.title == "Docs" %} class="active" {% endif %}><a href="/docs">Docs</a></li>
                    <li {% if page.title == "Development" %} class="active" {% endif %}><a href="/development">Development</a></li>
                    <li {% if page.title == "Forum" %} class="active" {% endif %}><a href="/forum">Forum</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
