<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 offset1">
                <div class="copyright">
                    © 2008-2013<br>
                    <a href="http://pyload.org/" target="_blank">The pyLoad Team</a><br>
                </div>
            </div>
            <div class="span2 block">
                <h2 class="block-title">
                    <a href="http://pyload.org" target="_blank">
                        Community &nbsp;<i class="icon-comment"></i>
                    </a>
                </h2>
                <hr>
                <a href="http://pyload.org" target="_blank">Homepage</a>&nbsp;&middot;
                <a href="http://board.pyload.org" target="_blank">Board</a>&nbsp;&middot;
                <a href="http://pyload.org/chat" target="_blank">Chat</a>
            </div>

            <div class="span2 block">
                <h2 class="block-title">
                    <a href="https://twitter.com/pyload" target="_blank">
                    Follow us &nbsp;<i class="icon-twitter"></i>
                    </a>
                </h2>
                <hr>
                <a href="https://twitter.com/pyload" target="_blank">Twitter</a>&nbsp;&middot;
                <a href="http://www.youtube.com/user/pyloadTeam" target="_blank">Youtube</a>
            </div>

            <div class="span2 block">
                <h2 class="block-title">
                    <a href="https://github.com/pyload" target="_blank">
                    Development &nbsp;<i class="icon-github"></i>
                    </a>
                </h2>
                <hr>
                <a href="https://github.com/pyload" target="_blank">Github</a>&nbsp;&middot;
                <a href="http://docs.pyload.org" target="_blank">Documentation</a>
            </div>

            <div class="span2 block">
                <h2 class="block-title">
                    <a href="http://pyload.org/donate" target="_blank">
                    Donate &nbsp;<i class="icon-bitcoin">&nbsp;</i>
                    </a>
                </h2>
                <hr>
                <a href="http://pyload.org/donate" target="_blank">PayPal</a>&nbsp;&middot;
                <a href="http://blockchain.info/address/1JvcfSKuzk3VENJm9XtqGp2DCTesgokkG2" target="_blank">Bitcoin</a>&nbsp;&middot;
                <a href="https://flattr.com/profile/pyload" target="_blank">Flattr</a>
            </div>

        </div>
    </div>
</footer>