<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="brand">
                <div class="logo"></div>
                <a class="title" href="/">pyLoad</a>
            </div>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if page.section == "download" %} class="active" {% endif %}><a href="/downloads">Download</a></li>
                    <li {% if page.section == "news" %} class="active" {% endif %}><a href="/news">News</a></li>
                    <li {% if page.section == "wiki" %} class="active" {% endif %}><a href="/wiki">Wiki</a></li>
                    <li {% if page.section == "development" %} class="active" {% endif %}><a href="/development">Development</a></li>
                    <li><a href="http://beta.pyload.org">Board</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
